<div class="row">
    <div class="col-lg-12 text-center">
        <h6 class="mt-4">COVID-19 Confirm Cases Timeline (January 26 2020 to July 26 2021)</h6>
        <div class="d-flex justify-content-center">
            <ngx-charts-line-chart
                [view]="view"
                [legend]="legend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="'Confirm COVID-19 Cases'"
                [timeline]="timeline"
                [results]="dataViewConfirm">
            </ngx-charts-line-chart>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filter">
            Country Filters
        </button>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 text-center">
        <h6 class="mt-4">COVID-19 Death Timeline (January 26 2020 to July 26 2021)</h6>
        <div class="d-flex justify-content-center">
            <ngx-charts-line-chart
                [view]="view"
                [legend]="legend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="'COVID-19 Death'"
                [timeline]="timeline"
                [results]="dataViewDeath">
            </ngx-charts-line-chart>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filter">
            Country Filters
        </button>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 text-center">
        <h6 class="mt-4">COVID-19 Vaccination Jabs Timeline (January 26 2020 to July 26 2021)</h6>
        <div class="d-flex justify-content-center">
            <ngx-charts-line-chart
                [view]="view"
                [legend]="legend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="'COVID-19 Vaccination Jabs'"
                [timeline]="timeline"
                [results]="dataViewVaccinated">
            </ngx-charts-line-chart>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filter">
            Country Filters
        </button>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 text-center">
        <h6 class="mt-4">COVID-19 Fully Vaccinated Individuals Timeline (January 26 2020 to July 26 2021)</h6>
        <div class="d-flex justify-content-center">
            <ngx-charts-line-chart
                [view]="view"
                [legend]="legend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="'COVID-19 Fully Vaccinated Individuals'"
                [timeline]="timeline"
                [results]="dataViewFullyVaccinated">
            </ngx-charts-line-chart>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filter">
            Country Filters
        </button>
    </div>
</div>


<div class="modal fade" id="filter" tabindex="-1" aria-labelledby="filterLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterLabel">Country Filter</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="height: 400px; overflow-y: scroll;">
                <div class="row">
                    <div *ngFor="let country of countries;; let i=index;" class="col-lg-6">
                        <div *ngIf="country.name !== undefined" class="form-check">
                            <input 
                                [(ngModel)]="country.selected" 
                                name="country{{i}}" 
                                class="form-check-input" 
                                type="checkbox">
                            <label class="form-check-label">
                              {{ country.name }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button (click)="changeFilters()" type="button" class="btn btn-primary" data-bs-dismiss="modal">Save Filters</button>
            </div>
        </div>
    </div>
</div>