<div class="row">
    <div class="col-lg-12 text-center">

        <h6 class="mt-4">GDP Per Capita Per Country</h6>
        <ngx-charts-combo
            [categories]="categoriesCombo"
            [series]="seriesCombo"
            [options]="optionsCombo">
        </ngx-charts-combo>

    </div>
    <div class="col-lg-12">
        <label class="form-label">Date: <b>{{ formatDate(filterDate) }}</b></label>
        <input 
            (change)="handleRangeChange()"
            [(ngModel)]="filterDateRange"
            type="range" 
            class="form-range" 
            min="{{ rangeMin }}" 
            max="{{ rangeMax }}">
    </div>
    <div class="col-lg-4">
        <div class="input-group mb-4">
            <input type="date" class="form-control" [(ngModel)]="filterInputDate">
            <button (click)="handleDateSubmit()" class="btn btn-outline-secondary" type="submit">View</button>
        </div>
    </div>
    <div class="col-lg-6">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filterEconomics">
            Country Filters
        </button>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 text-center">

        <h6 class="mt-4">COVID-19 Cases Rate Vs. GDP Per Capita In {{ formatDate(filterDate) }}</h6>
        <div class="d-flex justify-content-center">
            <ngx-charts-bubble-chart
                [view]="view"
                [results]="dataViewConfirm"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [xScaleMax]="xScaleMax"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="'GDP Per Capita'"
                [yAxisLabel]="'Confirmed COVID-19 Cases Per Million Individuals'">
            </ngx-charts-bubble-chart>
        </div>

    </div>
    <div class="col-lg-12">
        <label class="form-label">Date: <b>{{ formatDate(filterDate) }}</b></label>
        <input 
            (change)="handleRangeChange()"
            [(ngModel)]="filterDateRange"
            type="range" 
            class="form-range" 
            min="{{ rangeMin }}" 
            max="{{ rangeMax }}">
    </div>
    <div class="col-lg-4">
        <div class="input-group mb-4">
            <input type="date" class="form-control" [(ngModel)]="filterInputDate">
            <button (click)="handleDateSubmit()" class="btn btn-outline-secondary" type="submit">View</button>
        </div>
    </div>
    <div class="col-lg-6">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filterEconomics">
            Country Filters
        </button>
    </div>
    <div class="col-lg-2">
        <label class="form-label">X Axis</label>
        <input type="number" class="form-control" [(ngModel)]="xScaleMax">
    </div>
</div>


<div class="row">
    <div class="col-lg-12 text-center">

        <h6 class="mt-4">COVID-19 Death Rate Vs. GDP Per Capita In {{ formatDate(filterDate) }}</h6>
        <div class="d-flex justify-content-center">
            <ngx-charts-bubble-chart
                [view]="view"
                [results]="dataViewDeath"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [xScaleMax]="xScaleMax"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="'GDP Per Capita'"
                [yAxisLabel]="'Confirmed COVID-19 Deaths Per Million Individuals'">
            </ngx-charts-bubble-chart>
        </div>

    </div>
    <div class="col-lg-12">
        <label class="form-label">Date: <b>{{ formatDate(filterDate) }}</b></label>
        <input 
            (change)="handleRangeChange()"
            [(ngModel)]="filterDateRange"
            type="range" 
            class="form-range" 
            min="{{ rangeMin }}" 
            max="{{ rangeMax }}">
    </div>
    <div class="col-lg-4">
        <div class="input-group mb-4">
            <input type="date" class="form-control" [(ngModel)]="filterInputDate">
            <button (click)="handleDateSubmit()" class="btn btn-outline-secondary" type="submit">View</button>
        </div>
    </div>
    <div class="col-lg-6">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filterPopulation">
            Country Filters
        </button>
    </div>
    <div class="col-lg-2">
        <label class="form-label">X Axis</label>
        <input type="number" class="form-control" [(ngModel)]="xScaleMax">
    </div>
</div>

<div class="row">
    <div class="col-lg-12 text-center">

        <h6 class="mt-4">COVID-19 Vaccinated Jabs Vs. GDP Per Capita In {{ formatDate(filterDate) }}</h6>
        <div class="d-flex justify-content-center">
            <ngx-charts-bubble-chart
                [view]="view"
                [results]="dataViewVaccinated"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [xScaleMax]="xScaleMax"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="'GDP Per Capita'"
                [yAxisLabel]="'COVID-19 Vaccinated Jabs Per Hundred Individuals'">
            </ngx-charts-bubble-chart>
        </div>

    </div>
    <div class="col-lg-12">
        <label class="form-label">Date: <b>{{ formatDate(filterDate) }}</b></label>
        <input 
            (change)="handleRangeChange()"
            [(ngModel)]="filterDateRange"
            type="range" 
            class="form-range" 
            min="{{ rangeMin }}" 
            max="{{ rangeMax }}">
    </div>
    <div class="col-lg-4">
        <div class="input-group mb-4">
            <input type="date" class="form-control" [(ngModel)]="filterInputDate">
            <button (click)="handleDateSubmit()" class="btn btn-outline-secondary" type="submit">View</button>
        </div>
    </div>
    <div class="col-lg-6">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filterPopulation">
            Country Filters
        </button>
    </div>
    <div class="col-lg-2">
        <label class="form-label">X Axis</label>
        <input type="number" class="form-control" [(ngModel)]="xScaleMax">
    </div>
</div>



<div class="modal fade" id="filterEconomics" tabindex="-1" aria-labelledby="filterEconomicsLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterEconomicsLabel">Country Filter</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="height: 400px; overflow-y: scroll;">
                <div class="row">
                    <div *ngFor="let country of countries; let i=index;" class="col-lg-6">
                        <div *ngIf="country.name !== undefined" class="form-check">
                            <input 
                                [(ngModel)]="country.selected" 
                                name="country{{i}}" 
                                class="form-check-input" 
                                type="checkbox">
                            <label class="form-check-label">
                              {{ country.name }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="changeClearAll()" type="button" class="btn btn-secondary">Clear All</button>
                <button (click)="changeSelectAll()" type="button" class="btn btn-secondary">Select All</button>
                <button (click)="changeFilters()" type="button" class="btn btn-primary" data-bs-dismiss="modal">Save Filters</button>
            </div>
        </div>
    </div>
</div>