
<nav class="navbar navbar-light bg-light mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="./">11001 - IT350 COVID-19 Data Analytics</a>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col">

            <div *ngIf="!isDataLoaded" class="text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <div *ngIf="isDataLoaded">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab" aria-controls="overview" aria-selected="true">Overview</button>
                    </li>
                    <li (click)="population()" class="nav-item" role="presentation">
                        <button class="nav-link" id="population-tab" data-bs-toggle="tab" data-bs-target="#population" type="button" role="tab" aria-controls="population" aria-selected="false">Population</button>
                    </li>
                    <li (click)="economics()" class="nav-item" role="presentation">
                        <button class="nav-link" id="economics-tab" data-bs-toggle="tab" data-bs-target="#economics" type="button" role="tab" aria-controls="economics" aria-selected="false">Economics</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                        <br/>
                        <h5>I. Overview</h5>
                        <section-alpha 
                            *ngIf="sectionAlpha"
                            [dateRange]="dateRange"
                            [data]="data">
                        </section-alpha>
                        <section-beta 
                            *ngIf="sectionBeta"
                            [countries]="countries"
                            [dateRange]="dateRange"
                            [data]="data">
                        </section-beta>
                    </div>
                    <div class="tab-pane fade" id="population" role="tabpanel" aria-labelledby="population-tab">
                        <br/>
                        <h5>II. Population</h5>
                        <section-charlie 
                            *ngIf="sectionCharlie"
                            [countries]="countriesPopulation"
                            [dateRange]="dateRange"
                            [data]="data">
                        </section-charlie>
                    </div>
                    <div class="tab-pane fade" id="economics" role="tabpanel" aria-labelledby="economics-tab">
                        <br/>
                        <h5>III. Economics</h5>
                        <section-delta
                            *ngIf="sectionDelta"
                            [countries]="countriesEconomy"
                            [dateRange]="dateRange"
                            [data]="data">
                        </section-delta>
                    </div>
                </div>
            </div>

            <br/>
            <br/>
            <br/>

        </div>
    </div>
</div>